<!DOCTYPE html>
<html>
  <head>
    <title><%# full_title(yield(:title)) %></title>
    <link href="/assets/application.css" media="all" rel="stylesheet" type="text/css"/>
    <%= render partial: 'layouts/shim' %>
  </head>
  <body>
    <%= render partial: 'layouts/header' %>
    <div class="container">
      <%# flash.each do |key, value| %>
        <div class="alert alert-<%# key %>"><%# value %></div>
      <%# end %>
      <%= yield %>
      <%= render partial: 'layouts/footer' %>
    </div>
  </body>
</html>
